body {
    font-family: Arial, sans-serif;
    background-color:palevioletred;
    text-align: center;
}

.container {
    background-color: lightseagreen;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 400px;
    margin: 0 auto;
    margin-top: 100px;
}

.block-1 img{
    width: 20%;
    height: 30%;
    position: absolute;
    top: 5%;
    left: 3%;
}
.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-left: -10px;
}

input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

.signup-link {
    margin-top: 10px;
}

#passwordStrength {
    font-weight: bold;
    margin-top: 5px;
}
footer{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
    background-color: blue;
    margin-top: 5px;
    border-radius: 10px;
}

